<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>encoding</param-name>
        <param-value>utf-8</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.cyp.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowBackstage</servlet-name>
        <servlet-class>com.cyp.controller.product.ShowBackstage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBackstage</servlet-name>
        <url-pattern>/ShowBackstage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Front</servlet-name>
        <servlet-class>com.cyp.controller.Front</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Front</servlet-name>
        <url-pattern>/Front</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Descrption</servlet-name>
        <servlet-class>com.cyp.controller.Descrption</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Descrption</servlet-name>
        <url-pattern>/Descrption</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.cyp.controller.product.AddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>com.cyp.controller.product.ListProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindProduct</servlet-name>
        <servlet-class>com.cyp.controller.product.FindProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindProduct</servlet-name>
        <url-pattern>/FindProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.cyp.controller.product.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveProduct</servlet-name>
        <servlet-class>com.cyp.controller.product.RemoveProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveProduct</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDEPT</servlet-name>
        <servlet-class>com.cyp.controller.dept.AddDEPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDEPT</servlet-name>
        <url-pattern>/AddDEPT</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindDEPT</servlet-name>
        <servlet-class>com.cyp.controller.dept.FindDEPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindDEPT</servlet-name>
        <url-pattern>/FindDEPT</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListDEPT</servlet-name>
        <servlet-class>com.cyp.controller.dept.ListDEPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListDEPT</servlet-name>
        <url-pattern>/ListDEPT</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveDEPT</servlet-name>
        <servlet-class>com.cyp.controller.dept.RemoveDEPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveDEPT</servlet-name>
        <url-pattern>/RemoveDEPT</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateDEPT</servlet-name>
        <servlet-class>com.cyp.controller.dept.UpdateDEPT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDEPT</servlet-name>
        <url-pattern>/UpdateDEPT</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmpController</servlet-name>
        <servlet-class>com.cyp.controller.emp.EmpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpController</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JQAJAX</servlet-name>
        <servlet-class>com.cyp.controller.JQAJAX</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JQAJAX</servlet-name>
        <url-pattern>/jqajax</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>testJSTL.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>com.cyp.filter.CharacterFilter</filter-class>
        <init-param>
            <param-name>character</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.cyp.listener.Count</listener-class>
    </listener>
</web-app>